<div class="dashboard-container">
  <div class="card-grid">
    <ng-container *ngFor="let device of devices">
      <nz-card
        class="dashboard-card"
        [nzTitle]="device.name"
        [nzHoverable]="true"
        (click)="data[device.id]?.level !== undefined && openDevice(device.id)"
        [ngClass]="{
          'card-title-on': data[device.id]?.pumpStatus,
          'card-title-off': !data[device.id]?.pumpStatus
        }"
      >
        <ng-container *ngIf="data[device.id]?.level !== undefined; else waitingTemplate">
          <div class="card-content">
            <div class="tank-container">
              <div class="tank">
                <div class="water" [style.height.%]="data[device.id]?.level">
                  <div class="inside-label">{{ data[device.id]?.level }}%</div>
                </div>
              </div>

              <div
                class="status-label"
                [ngClass]="{
                  'on': data[device.id]?.pumpStatus,
                  'off': !data[device.id]?.pumpStatus
                }"
              >
                Motor {{ data[device.id]?.pumpStatus ? 'ON' : 'OFF' }}
              </div>
            </div>

            <div class="divider"></div>

            <div class="info-box">
              <p><strong>Location:</strong> {{ device.location }}</p>
              <p><strong>Area:</strong> {{ device.area }}</p>
            </div>
          </div>
        </ng-container>

        <ng-template #waitingTemplate>
          <nz-alert
            nzType="info"
            nzMessage="Connecting to device..."
            nzShowIcon
            nzBanner
          ></nz-alert>
        </ng-template>
      </nz-card>
    </ng-container>
  </div>
</div>
