.card-title-center {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.custom-card-title {
  background-color: #f0f0f0; 
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
}
