  <nz-spin     [nzSpinning]="!(mqtt.data[device.uuid]?.config?.value?.length > 0)"
>
<div class="desktop-table" *ngIf="isDesktop && showScheduling">
    <nz-table
      [nzBordered]="true"
      [nzSize]="'small'"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th style="width: 20%; text-align: center;">Relay</th>
          <th style="width: 30%; text-align: center;">Slot 1</th>
          <th style="width: 30%; text-align: center;">Slot 2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of [0, 1, 2]">
          <td style="text-align: center;">Relay {{ row + 1 }}</td>

          <ng-container *ngFor="let col of [0, 1]">
            <ng-container *ngIf="mqtt.data[device.uuid]?.config?.value?.[row * 2 + col] as slot">
              <td>
                <nz-time-picker
                  [(ngModel)]="startTimes[row * 2 + col]"
                  [nzUse12Hours]="false"
                  nzFormat="HH:mm"
                  [nzMinuteStep]="1"
                  style="width: 100%"
                ></nz-time-picker>
                <br />
                <nz-time-picker
                  [(ngModel)]="endTimes[row * 2 + col]"
                  [nzUse12Hours]="false"
                  nzFormat="HH:mm"
                  [nzMinuteStep]="1"
                  style="width: 100%; margin-top: 5px;"
                ></nz-time-picker>
                <br />
                <button
                  nz-button
                  nzType="primary"
                  nzSize="small"
                  (nzOnConfirm)="sendSingleSlot(row * 2 + col)"
                  nz-popconfirm
                   nzPopconfirmTitle="Are you sure you want to update?"
                  style="margin-top: 4px; width: 90%"
                >
                  Update
                </button>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </nz-table>
 
</div>
 </nz-spin>

<div class="mobile-cards" *ngIf="!isDesktop && showScheduling">
    <nz-spin [nzSpinning]="loading" nzTip="Loading..." style="width: 100%;">

  <ng-container *ngFor="let row of [0, 1, 2]">
    <nz-card [nzTitle]="titleTemplate" nzSize="small" style="margin-bottom: 12px;">
  <ng-template #titleTemplate>
    <div class="custom-card-title">
      Relay {{ row + 1 }}
    </div>
  </ng-template>
      <ng-container *ngFor="let col of [0, 1]">
        <ng-container *ngIf="mqtt.data[device.uuid]?.config?.value?.[row * 2 + col] as slot">
          <div style="margin-bottom: 12px;">
            <strong>Slot {{ col + 1 }}</strong>
            <nz-time-picker
              [(ngModel)]="startTimes[row * 2 + col]"
              [nzUse12Hours]="false"
              nzFormat="HH:mm"
              [nzMinuteStep]="1"
              style="width: 100%; margin-top: 5px;"
            ></nz-time-picker>
            <nz-time-picker
              [(ngModel)]="endTimes[row * 2 + col]"
              [nzUse12Hours]="false"
              nzFormat="HH:mm"
              [nzMinuteStep]="1"
              style="width: 100%; margin-top: 5px;"
            ></nz-time-picker>
            <button
              nz-button
              nzType="primary"
              nzSize="small"
               (nzOnConfirm)="sendSingleSlot(row * 2 + col)"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure you want to update?"
              style="margin-top: 6px; width: 100%;"
            >
              Update
            </button>
          </div>
        </ng-container>
      </ng-container>
    </nz-card>
  </ng-container>
  </nz-spin>
</div>





    
