
<br>
  <h3 style="margin-top: -30px;text-align: center;    color: #1d39c4;
"><span style="color:black; display:none;" class="d-lg-inline">Site Name :</span>

{{ device?.name || device?.deviceName || 'Unknown' }}</h3><br>


<h3 style="margin-bottom:20px ;"></h3>
<div class="status-container">
<div class="status-items">
  <span
    class="status-dot"
    [ngStyle]="{
      'background-color': data?.do === undefined ? 'red' : 'green'
    }"
  ></span>
  <span>{{ data?.do === undefined ? 'Offline' : 'Online' }}</span>
</div>


<div *ngIf="timeAgo" class="status-item">
  <span class="status-label">Last Log:</span>
  <span>{{ timeAgo }}</span>
</div>
</div>




<nz-tabset nzType="card" (nzSelectedIndexChange)="onTabChange($event)" style="margin-top: -30px;">
  <nz-tab nzTitle="💧Tank Level">
    <div class="three-card-layout">
      <nz-card class="tank-cards">
        <div class="tank-wrapper">
          <div class="pump-status-corner">
            <span style="margin-right: 30px;">
            <img [src]="this.data.pumpStatus ? 'on.png' : 'off.png'" alt="Pump Status" />
            </span>
          </div>
          <span class="motor-status-label" [ngClass]="{ 'on': isPumpOn(), 'off': !isPumpOn() }">
            {{ isPumpOn() ? 'Motor Is ON' : 'Motor Is OFF' }}
          </span>


          <div class="cylinder">
            @if (this.data && this.data['do'] == undefined) {
  <nz-alert
      nzType="info"
      nzMessage="Please wait"
      nzDescription="Connecting to device..."
      nzShowIcon
    ></nz-alert>
          <nz-spin nzSimple  nzSize="large" style="margin-top: 50px;justify-content: center;text-align: center;font-weight:bold ;"></nz-spin><br>

} @else {
            <div *ngIf="isTankEmpty()" class="empty-text">
              <strong>Below 20% </strong><br />
            </div>

            <div class="fill" [ngStyle]="{ height: this.data.level + '%' }">
              <div class="fill-label" *ngIf="level > 0">{{ level }}% Filled</div>
            </div>

            <div *ngFor="let marker of getMarkers()">
              <div *ngIf="marker.isFault" class="sensor-warning">
                ⚠️ Sensor Fault Detected!
              </div>
            </div>

            <div *ngFor="let marker of getMarkers()" class="marker"
              [ngStyle]="{ bottom: marker.bottom, backgroundColor: marker.color }">
              <div *ngIf="marker.isFault" class="marker-warning">⚠️</div>
            </div>
              }
          </div>
          <div class="bottom"></div>
      
        </div>
      </nz-card>

      <!-- Control Switches Card -->
 <nz-card  class="control-card">
 <div class="switch-container" >
  <!-- Switch 1 -->
  <div
    class="switch-item"
    [ngStyle]="{
      'background-color': data?.do?.[0] ? '#e6ffe6' : '#ffff',
      'border': '1px solid',
      'border-color': data?.do?.[0] ? '#4caf50' : '#cccccc'
    }"
  >
    <span
      [ngStyle]="{
        'background-color': data?.do?.[0] ? '#4caf50' : '#8898aa',
        color: 'white',
        padding: '4px 8px',
        'border-radius': '4px',
        'min-width': '70px',
        'text-align': 'center'
      }"
    >
      Switch 1
    </span>
    <nz-switch
      [ngModel]="data?.do?.[0]"
      [nzLoading]="data?.do?.[0] == undefined"
      [nzCheckedChildren]="'ON'"
      [nzUnCheckedChildren]="'OFF'"
      (click)="toggleSwitch(1, data?.do?.[0] ? 0 : 1)"
    ></nz-switch>
  </div>

  <!-- Switch 2 -->
  <div
    class="switch-item"
    [ngStyle]="{
      'background-color': data?.do?.[1] ? '#e6ffe6' : '#ffff',
      'border': '1px solid',
      'border-color': data?.do?.[1] ? '#4caf50' : '	#cccccc'
    }"
  >
    <span
      [ngStyle]="{
        'background-color': data?.do?.[1] ? '#4caf50' : '#8898aa',
        color: 'white',
        padding: '4px 8px',
        'border-radius': '4px',
        'min-width': '70px',
        'text-align': 'center'
      }"
    >
      Switch 2
    </span>
    <nz-switch
      [ngModel]="data?.do?.[1]"
      [nzLoading]="data?.do?.[1] == undefined"
      [nzCheckedChildren]="'ON'"
      [nzUnCheckedChildren]="'OFF'"
      (click)="toggleSwitch(2, data?.do?.[1] ? 0 : 1)"
    ></nz-switch>
  </div>

  <!-- Switch 3 -->
  <div
    class="switch-item"
    [ngStyle]="{
      'background-color': data?.do?.[2] ? '#e6ffe6' : '#ffff',
      'border': '1px solid',
      'border-color': data?.do?.[2] ? '#4caf50' : '	#cccccc'
    }"
  >
    <span
      [ngStyle]="{
        'background-color': data?.do?.[2] ? '#4caf50' : '	#8898aa',
        color: 'white',
        padding: '4px 8px',
        'border-radius': '4px',
        'min-width': '70px',
        'text-align': 'center'
      }"
    >
      Switch 3
    </span>
    <nz-switch
      [ngModel]="data?.do?.[2]"
      [nzLoading]="data?.do?.[2] == undefined"
      [nzCheckedChildren]="'ON'"
      [nzUnCheckedChildren]="'OFF'"
      (click)="toggleSwitch(3, data?.do?.[2] ? 0 : 1)"
    ></nz-switch>
  </div>
</div>



      <div style="flex-grow: 1; margin-top: 20px;">


    <div id="map" style="height: 250px; width: 100%; border-radius: 8px;"></div>
 
   
      </div>
  </nz-card>
  </div>
  </nz-tab>



  <!---
     <nz-tab nzTitle="Turn On"(nzSelect)="turnOnClick()" 
 style="background-color: green;"></nz-tab>
-->
<nz-tab nzTitle="🕒Scheduling">
  <app-scheduling (schedulingClicked)="sendGetTime()"></app-scheduling>
</nz-tab>



 <nz-tab nzTitle="📊 Reports">
  <nz-card nzTitle="Daily Report" class="filter-card">
    <form nz-form>
      <div class="filter-row" nz-row nzGutter="16" style="align-items: center;">
        <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="dailyFromDate">From Date</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-date-picker
                [(ngModel)]="dailyFromDate"
                name="dailyFromDate"
                nzFormat="yyyy-MM-dd"
                nzPlaceHolder="yyyy-MM-dd"
                style="width: 100%; font-size: 14px;"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6">
          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="dailyToDate">To Date</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-date-picker
                [(ngModel)]="dailyToDate"
                name="dailyToDate"
                nzFormat="yyyy-MM-dd"
                nzPlaceHolder="yyyy-MM-dd"
                style="width: 100%; font-size: 14px;"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzGutter="8" class="button-wrapper">
        <div nz-col nzXs="24" nzSm="12">
          <button
            nz-button
            nzType="primary"
            (click)="fetchDailyReports()"
            style="width: 100%; background-color: #1890ff;"
          >
            Get Data
          </button>
        </div>
        <div nz-col nzXs="24" nzSm="12">
          <button nz-button nzType="default" (click)="exportToExcel()" style="width: 100%;">
            Export Data
          </button>
        </div>
      </div>
    </form>
  </nz-card>

  <div *ngIf="dailyReports.length > 0" class="reports-card">
    <!-- Device Info -->
    <div style="text-align: center; padding: 12px; background: #f5f5f5; border-radius: 8px;">
      <div style="font-weight: 600; font-size: 16px;">Site Name: {{ device.name }}</div>
      <div style="font-weight: 500; font-size: 14px;">IMEI: {{ device.uuid }}</div>
      <div style="font-weight: 500; font-size: 14px;">Area: {{ device.area }}</div>
    </div>

    
    <!-- Table -->
    <div class="table-responsive-wrapper">
      <nz-table
        [nzData]="dailyReports"
        [nzFrontPagination]="false"
        [nzPageSize]="10"
        [nzSize]="'middle'"
        [nzBordered]="true"
      >
        <thead>
          <tr>
            <th>Time & Date</th>
            <th>Tank Level</th>
            <th>Motor Status</th>
            <th>Switch 1</th>
            <th>Switch 2</th>
            <th>Switch 3</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dailyReports">
            <td>{{ row.date | istTime }}</td>
            <td>{{ row.level }}</td>
            <td>{{ row.pump_status == 1 ? 'ON' : 'OFF' }}</td>
            <td>{{ row.relay1 == 1 ? 'ON' : 'OFF' }}</td>
            <td>{{ row.relay2 == 1 ? 'ON' : 'OFF' }}</td>
            <td>{{ row.relay3 == 1 ? 'ON' : 'OFF' }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-tab>

 
  <nz-tab nzTitle="🔧Config" (click)="sendConfigRequest()">
  
    <div class="config-section">
      <nz-collapse >
        <nz-collapse-panel *ngFor="let panel of panel;track: panel" [nzHeader]="panel.name" [nzActive]="panel.active"
          [nzShowArrow]="panel.arrow">


          <h1 style="margin-bottom: 10px;">
            Update Device
          </h1>

          <div style="display: flex; flex-wrap: wrap; gap: 20px;">
            <div style="flex: 1; ">
              <nz-card>
                <form nz-form [nzLayout]="'vertical'" #deviceFrom="ngForm">
                  <nz-form-item>
                    <nz-form-label [nzRequired]="true">Device ID</nz-form-label>
                    <nz-form-control>
                      <input nz-input name="deviceId" placeholder="Enter Device ID" type="number" required />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label [nzRequired]="true">User ID</nz-form-label>
                    <nz-form-control>
                      <input nz-input name="userId" placeholder="Enter User ID" type="text" />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label [nzRequired]="true">Device Name</nz-form-label>
                    <nz-form-control>
                      <input nz-input name="deviceName" placeholder="Enter Device Name" type="text" />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label>IMEI Number</nz-form-label>
                    <nz-form-control>
                      <input nz-input name="imei" placeholder="Enter IMEI Number" type="text" />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label>Area</nz-form-label>
                    <nz-form-control>
                      <input nz-input name="area" placeholder="Enter Area" type="text" />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label>Flow Multiplier</nz-form-label>
                    <nz-form-control>
                      <input nz-input name="flowMultiplier" type="number" placeholder="Enter Flow Multiplier" />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label>Start Date</nz-form-label>
                    <nz-form-control>
                      <nz-date-picker name="startDate" [nzFormat]="'dd-MM-yyyy'">
                      </nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-label>Expiry Date</nz-form-label>
                    <nz-form-control>
                      <nz-date-picker name="expiryDate" [nzFormat]="'dd-MM-yyyy'">
                      </nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>


                  <div style="text-align: center; margin-top: 20px;">
                    <button nz-button nzType="primary" style="padding: 0 30px;"
                      [disabled]="!deviceFrom.form.valid">Update</button>
                  </div>
                </form>
              </nz-card>
            </div>

            <div style="flex: 1; ">
              <nz-card>
                <div id="map" style="height: 201px; width: 100%;"></div>
              </nz-card>
            </div>

          </div>


        </nz-collapse-panel>
      </nz-collapse>
<nz-collapse style="margin-top: 10px;">
  <nz-collapse-panel [nzHeader]="'Tank Full Alert Config'">

    <!-- Loop Through Alert Rows -->
    <div *ngFor="let alert of tankAlerts; let i = index" style="margin-bottom: 20px; border-bottom: 1px dashed #ccc; padding-bottom: 10px;">
      <!-- Enable Toggle -->
      <label><strong>Enable Alert {{ i + 1 }}:</strong></label>
      <nz-switch [(ngModel)]="alert.enabled"></nz-switch>

      <!-- Level Select -->
      <div *ngIf="alert.enabled" style="margin-top: 10px;">
        <label><strong>Select Level</strong></label>
        <nz-select
          [(ngModel)]="alert.level"
          (ngModelChange)="onSensorChange(i)"
          style="width: 200px;"
        >
          <nz-option *ngFor="let lvl of levels" [nzValue]="lvl" [nzLabel]="'Level ' + lvl + '%'"></nz-option>
        </nz-select>
      </div>

      <!-- Alert Message -->
      <div *ngIf="alert.enabled" style="margin-top: 10px;">
        <nz-alert
          nzType="warning"
          [nzMessage]="alert.message"
          nzShowIcon
        ></nz-alert>

        <div style="margin-top: 10px;">
          <label><strong>Edit Alert Message:</strong></label>
          <input
            nz-input
            [(ngModel)]="alert.message"
            placeholder="Enter alert message"
            style="width: 100%;"
          />
        </div>
      </div>
    </div>

    <!-- Add Alert Button -->
    <button nz-button nzType="primary" (click)="addAlert()">
     <nz-icon nzType="plus-circle" nzTheme="outline" /> Add Alert
    </button>

  </nz-collapse-panel>
</nz-collapse>
<nz-collapse style="margin-top: 10px;" >
  <nz-collapse-panel [nzHeader]="'Device Config'">
   <tr>
            <td><strong>Timer</strong></td>
            <td>
              <ng-container >
                              <nz-switch
                  class="custom-switch"
                  [ngModel]="timer"
                  [nzLoading]="loadingAmode || timer === undefined"
                  [nzCheckedChildren]="'On'"
                  [nzUnCheckedChildren]="'Off'"
                  (click)="onToggleTimer(timer ? 0 : 1)">
                </nz-switch>
              </ng-container>
              
            </td>
        
          </tr>
   
    </nz-collapse-panel>
    </nz-collapse>
</div>
</nz-tab>

</nz-tabset>

