<div class="tank-grid">
  <div *ngFor="let device of devices" class="tank-container" >
<img
      [src]="isPumpOn(device) ? 'on.png' : 'off.png'"
      alt="Motor status"
      width="70" 
      style="float:right"
    />
    <div echarts [options]="device.chartOptions" class="square-tank-chart"></div>
 <div class="tank-label">
  <ng-container *ngIf="!isEditing; else editMode">
    <button nz-button class="tank-button" (click)="editTankName()">
      {{ tankName }}
    </button>
  </ng-container>

  <ng-template #editMode>
    <input
      nz-input
      [(ngModel)]="tankName"
      (blur)="saveTankName()"
      (keydown.enter)="saveTankName()"
      autofocus
    />
  </ng-template>
</div>

  </div>
</div>
